<div><h1 style="background:rgb(800, 75, 79)border:3px solid rgb(20;color:white; margin:15px;margin:15px;9, 202, 71)border-top:3px solid purple border-bottom:6px padding:20px width:50% overflow-y:auto">
width:50%;color:white;background-color:rgb(15, 186, 40)
"float:right;
              width:40%"
            width:20%  
